<div id="wrapper">
  <h1>NYT Mongo Scraper</h1>

  <form class="" action="/scrape" method="GET">
    <button type="submit" name="button">Get Articles</button>
  </form>

  <div id="articles">  <ul>
      {{#each articles}}

        <li data-id="{{this._id}}">
          {{this.title}} -</br>
          {{this.summary}}
          <a href="{{this.link}}">Read More...</a>
          <form action="/save" method="post">
          <input type="hidden" name="title" value="{{this.title}}">
          <input type="hidden" name="link" value="{{this.link}}">
          <input type="hidden" name="summary" value="{{this.summary}}">
            <button type="submit" name="button">Save Article</button>
          </form>
        </li>
      {{/each}}
    </ul></div>

  <div id="notes"></div>
</div>

{{!-- <script src="app.js"></script> --}}
